{% extends 'base.html.twig' %}

{% block title %}ListeArticle{% endblock %}

{% block body %}
<h2>Liste des articles</h2>
   <ul>

{% for art in artist %}
      
       <li>  {{  art.name }} </li>
    {% endfor %}
</ul>
{% endblock %}
