{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

    <h1>Hello {{ name }}!</h1>

   {% set fruits = ['<p><font color="red">hello</font></p>', '<font color="blue">hello</font>'] %}

    {% for i in 0..10 %}
        {{ cycle(fruits, i)|raw }}
    {% endfor %}


{% endblock %}
